In [1]:
import pandas as pd
import numpy as np

In [6]:
filename = "metadata.csv"
metadata_df = pd.read_csv(filename,index_col=0, encoding = "ISO-8859-1",  sep=';')
metadata_df.head(2)

,sample_id,telomere_content,request_id,laboratoryId,height,weight,dateCreated,library_type_id,survey_type,core-cnv,...,input-final_library_concentration,input-gestational_age,input-material_type,input-survey_type,reads_mapped_uniquely,z_score-Duris-13,z_score-Duris-18,z_score-Duris-21,bmi,indivAge
0,74462,"1399,38348",74462,103,162,65,2021-06-30 10:31:04,1,TRISOMY_COMPLETE,negative,...,"1,88",100,EDTA,TRISOMY_COMPLETE,26897524,"-1,166027228","-0,793848347","-0,539852965","24,76756592",28
1,74068,"1476,615052",74068,103,169,62,2021-06-15 12:41:02,1,TRISOMY_PLUS,negative,...,"1,28",133,EDTA,TRISOMY_PLUS,23064876,"-0,195205691","-0,144453416","0,192822224","21,70792339",34

In [7]:
metadata_df.columns

Index(['sample_id', 'telomere_content', 'request_id', 'laboratoryId', 'height',
       'weight', 'dateCreated', 'library_type_id', 'survey_type', 'core-cnv',
       'core-fetal_fraction', 'core-gender', 'core-gonosomal', 'core-result',
       'core-t13', 'core-t18', 'core-t21', 'fetal_fraction-ksiser_Y',
       'fetal_fraction-comboff', 'input-dna_quantity',
       'input-final_library_concentration', 'input-gestational_age',
       'input-material_type', 'input-survey_type', 'reads_mapped_uniquely',
       'z_score-Duris-13', 'z_score-Duris-18', 'z_score-Duris-21', 'bmi',
       'indivAge'],
      dtype='object')

In [8]:
important_metadata = metadata_df[['sample_id','core-result',
       'core-t13', 'core-t18', 'core-t21']]

In [9]:
important_metadata.head(2)

   sample_id core-result  core-t13  core-t18  core-t21
0      74462    negative  negative  negative  negative
1      74068    negative  negative  negative  negative

In [14]:
filename = "data.csv"
data_df = pd.read_csv(filename,index_col=0, encoding = "ISO-8859-1",  sep=',')
data_df.head(2)

,ids,bases,contigs,windows,reads,mapped_reads,mapped_perc,secondary_alignments,mapped_paired_reads_first,mapped_paired_reads_second,...,chrX_coverage,chrX_deviation,chrY_len,chrY_mapped,chrY_coverage,chrY_deviation,chrM_len,chrM_mapped,chrM_coverage,chrM_deviation
0,27651,3099922541,195,594,49951620,48530304,0.971546,0,24547296,23983008,...,0.511537,0.774365,57227415,3345754,0.058464,0.893488,16569,20238,1.221438,1.148066
1,27652,3099922541,195,594,63678538,62732626,0.985146,0,31493578,31239048,...,0.660911,0.855236,57227415,4572502,0.079901,1.047883,16569,24315,1.467500,1.290940

In [15]:
data_df.rename(columns = {'ids':'sample_id'}, inplace = True)

In [16]:
data_df.head(2)

,sample_id,bases,contigs,windows,reads,mapped_reads,mapped_perc,secondary_alignments,mapped_paired_reads_first,mapped_paired_reads_second,...,chrX_coverage,chrX_deviation,chrY_len,chrY_mapped,chrY_coverage,chrY_deviation,chrM_len,chrM_mapped,chrM_coverage,chrM_deviation
0,27651,3099922541,195,594,49951620,48530304,0.971546,0,24547296,23983008,...,0.511537,0.774365,57227415,3345754,0.058464,0.893488,16569,20238,1.221438,1.148066
1,27652,3099922541,195,594,63678538,62732626,0.985146,0,31493578,31239048,...,0.660911,0.855236,57227415,4572502,0.079901,1.047883,16569,24315,1.467500,1.290940

In [45]:
merged= pd.merge(data_df, important_metadata, on='sample_id', how='left')

In [46]:
merged.describe()

,sample_id,bases,contigs,windows,reads,mapped_reads,mapped_perc,secondary_alignments,mapped_paired_reads_first,mapped_paired_reads_second,...,chrX_coverage,chrX_deviation,chrY_len,chrY_mapped,chrY_coverage,chrY_deviation,chrM_len,chrM_mapped,chrM_coverage,chrM_deviation
count,3432.000000,3.432000e+03,3432.0,3432.0,3.432000e+03,3.432000e+03,3432.000000,3432.0,3.432000e+03,3.432000e+03,...,3432.000000,3432.000000,3432.0,3.432000e+03,3432.000000,3432.000000,3432.0,3.432000e+03,3432.000000,3432.000000
mean,66543.997669,3.099923e+09,195.0,594.0,6.078441e+07,5.865403e+07,0.964685,0.0,2.945894e+07,2.919510e+07,...,0.618401,0.859555,57227415.0,4.319908e+06,0.075487,0.968067,16569.0,8.526880e+05,51.462850,12.927252
std,10211.725798,0.000000e+00,0.0,0.0,7.974308e+06,7.967850e+06,0.027019,0.0,3.999725e+06,3.969301e+06,...,0.090871,0.070308,0.0,9.286256e+05,0.016227,0.183193,0.0,1.784925e+06,107.726765,23.807008
min,9153.000000,3.099923e+09,195.0,594.0,3.984527e+07,3.887050e+07,0.693092,0.0,1.949699e+07,1.937351e+07,...,0.292894,0.572662,57227415.0,2.203869e+06,0.038511,0.516434,16569.0,6.051000e+03,0.365200,0.620670
25%,57200.500000,3.099923e+09,195.0,594.0,5.612904e+07,5.363089e+07,0.959908,0.0,2.696735e+07,2.666092e+07,...,0.561343,0.819568,57227415.0,3.693967e+06,0.064549,0.850946,16569.0,4.002375e+04,2.415580,1.752538
50%,67847.500000,3.099923e+09,195.0,594.0,6.047454e+07,5.838249e+07,0.973554,0.0,2.931779e+07,2.905532e+07,...,0.614796,0.859132,57227415.0,4.212015e+06,0.073601,0.947901,16569.0,1.875840e+05,11.321383,4.356863
75%,75358.250000,3.099923e+09,195.0,594.0,6.512549e+07,6.311751e+07,0.980438,0.0,3.167046e+07,3.143378e+07,...,0.670104,0.897081,57227415.0,4.786762e+06,0.083645,1.062961,16569.0,8.919252e+05,53.830964,13.968495
max,82799.000000,3.099923e+09,195.0,594.0,1.777456e+08,1.500255e+08,0.989782,0.0,7.531415e+07,7.471131e+07,...,1.599301,2.421039,57227415.0,1.672294e+07,0.292219,3.010691,16569.0,2.683910e+07,1619.838373,421.268849

In [47]:
merged['core-result'].isna().sum()

356

In [48]:
merged = merged[merged['core-result'].notna()]

In [49]:
merged = merged[merged['core-result'] != 'uninformative']
merged = merged[merged['core-t13'] != 'uninformative']
merged = merged[merged['core-t18'] != 'uninformative']
merged = merged[merged['core-t21'] != 'uninformative']

In [50]:
merged['core-result'].value_counts()

negative    2779
positive      39
Name: core-result, dtype: int64

In [51]:
merged.to_csv('merged.csv')